extends includes/layout.pug

block content
  if theme.category_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts.category_ui
      +postUI
      include includes/pagination.pug
  else
    include ./includes/mixins/article-sort.pug
    #category
      .article-sort-title!= _p('page.category') + ' : ' + parent_categories() + page.category
      - let children = children_categories()
      if (children.length)
        .article-sort-subtitle!= _p('page.subcategory') + ' : ' + children
      +articleSort(page.posts)
      include includes/pagination.pug